*{
    font-family: sans-serif;
}
.site-content{
  /*  border: 1px solid black;*/
    width: 1280px;
    margin: 60px auto;
}
a{
    text-decoration: none;
}
.logo{
    /*border: 1px solid black;*/
    margin-bottom: 45px;
}
.text-logo{

font-family: sans-serif;
    font-size: 80px;
    color: black;
}
.text-logo span{
    color: #4bcaff;
}
.navbar{
    background-color: #35444f;
    /*border: 1px solid red;*/
    text-align: center;
}
.navbar-link{
    border: 1px solid #35444F;
    display: inline-block;
    color: aliceblue;
    font-family: sans-serif;
    /*width: calc(100% / 4 - 10px);*/
    font-size: 24px;
    text-align: center;
    padding: 15px 20px;
}
.navbar-link:hover{
    border-left:1px solid #818181;
    border-right:1px solid #818181;
    background-color: #222f3a;
}
.navbar-left{
    display: inline-block;
    border: 1px solid #35444f;
    margin-top: 50px;
    width:  30%;
}
.navbar-left-link{
   /* border: 1px solid red;*/
    font-size: 29px;
    font-family: sans-serif;
    display: block;
    color: rgba(72, 88, 99, 255);
    padding: 30px 0 30px 35px ;
}
.navbar-left-link:hover{
    background-color: #dbdbdb;
    padding-left: 50px;
    color: #000000;
}

.content{
    display: inline-block;
   /* border: 1px solid black;*/
    width: 60%;
    vertical-align: top;
}
.text{
    display: inline-block;
   /* border: 1px solid black;*/
    padding: 50px 0 0 30px;
    margin-left:50px ;
    font-size: 18px;
    margin-bottom: 50px;
}
.img{
    margin-left:50px ;
    margin-top : 50px;
    display: inline-block;
    border: 1px solid black;
    padding: 100px 260px;
    margin-right: 0;
    text-align: center;
}
.navbar-bottom{
    background-color: #b4b7ba;
    /*border: 1px solid red;*/

}
.navbar-bottom-link{
   /* border: 1px solid red;*/
    display: inline-block;
    color: #0c1927;
    font-family: sans-serif;
    font-size: 24px;
    margin: 15px 25px;
    margin-right: 0;
    padding-bottom: 5px;
}
.navbar-bottom-link:hover{
   border-bottom: 1px solid #3181a6;
    color: #3181a6;
    bottom: 1px;

}
.copyright{
  /*  border: 1px solid red;*/
    font-weight: bold;
    display: inline-block;
    float: right;
    padding: 25px;
}
